# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
*.venv
env/
.env

# Jupyter Notebook
.ipynb_checkpoints/

# IDE / Editor
.vscode/
.idea/

# Data and Models (if stored locally and large)
# /data/
# *.keras
# *.h5

# OS-specific
.DS_Store
Thumbs.db
